<?xml version="1.0"  encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="slf4net" type="slf4net.Configuration.SlfConfigurationSection, slf4net" />
    <sectionGroup name="ColleagueSettings" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
      <section name="DmiParameters" type="Ellucian.WebServices.Core.Config.DmiParameterCustomSection, Ellucian.WebServices.Core.Config, Version=1.5.0.0, Culture=neutral, PublicKeyToken=55c547a3498c89fb" />
      <section name="DmiSecurityParameters" type="Ellucian.WebServices.Core.Config.DmiSecurityParameterCustomSection, Ellucian.WebServices.Core.Config, Version=1.5.0.0, Culture=neutral, PublicKeyToken=55c547a3498c89fb" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="sdkVersion" value="1.5" />
    <add key="ellucianDependenciesPath" value="C:\Program Files (x86)\Ellucian\ColleagueSDKForDotNetV1.5\Dependencies" />
    <add key="colleagueUserName" value="" />
    <add key="colleagueUserPassword" value="" />
    <add key="ellucianVSExtDependenciesPath" value="C:\Users\roger.garrison\AppData\Local\Microsoft\VisualStudio\12.0\Extensions\i3waihla.eei" />
  </appSettings>
  
  <slf4net>
    <factory type="Ellucian.Logging.EnterpriseLibraryLoggerFactory, Ellucian.Logging, Version=1.0.0, Culture=neutral, PublicKeyToken=55c547a3498c89fb"/>
  </slf4net>

  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="EllucianAppDebug">
    <logFilters>
      <add name="LogEnabled Filter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" enabled="false" />
    </logFilters>

    <listeners>
      <add name="SVRFILE" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="App_Data\\Logs\\MvcAppDebugLog.txt" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day" maxArchivedFiles="50" traceOutputOptions="None" />
    </listeners>

    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{message}{newline}" name="Text Formatter" />
    </formatters>

    <categorySources>
      <add switchValue="Error" name="EllucianAppDebug">
        <listeners>
          <add name="SVRFILE" />
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SVRFILE" />
        </listeners>
      </errors>
    </specialSources>

  </loggingConfiguration>

  <ColleagueSettings>
    <DmiParameters environment="_rt" address=""
      port="" secure="False" certificateHostnameOverride="" connectionPoolSize="1" />
    <DmiSecurityParameters sharedSecret="" />
  </ColleagueSettings>

</configuration>
